# todo:
{
  "extends": ["eslint-config-airbnb-base", "standard-react"],
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "arrow-body-style": ["error", "always"],
    "padded-blocks": 0,
    "no-trailing-spaces": 0,
    "no-extra-boolean-cast": 0,
    "import/first": 0,
    "import/no-unresolved": 0,
    "import/extensions": ['error', 'never', {
      js: 'never',
      jsx: 'never',
    }],
  }
}
