
$white: #ffffff;
$red: #db2828;
$green: #66CC99;
$blue: #2185d0;
$gold: #EB9532;
$black: #000;
$graytext: rgba(0,0,0,.6);
$lightgray: #e8e8e8;
$lightestgray: rgba(0,0,0,.03);
$bordercolor: rgba(34,36,38,.1);
$dark: #1b1c1d;
$sidebarMenuHover: rgba(255,255,255,.1);
$sidebarMenuActive: rgba(255,255,255,.03);
